.button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.bigrounded {
    border-radius: 2em 2em 2em 2em;
}
.medium {
    font-size: 12px;
    padding: 0.4em 1.5em 0.42em;
}
.small {
    font-size: 11px;
    padding: 0.2em 1em 0.275em;
}
.black {
    background: -moz-linear-gradient(center top , #666666, #000000) repeat scroll 0 0 transparent;
    border: 1px solid #333333;
    color: #D7D7D7;
}
.black:hover {
    background: -moz-linear-gradient(center top , #444444, #000000) repeat scroll 0 0 transparent;
}
.black:active {
    background: -moz-linear-gradient(center top , #000000, #444444) repeat scroll 0 0 transparent;
    color: #666666;
}
.gray {
    background: -moz-linear-gradient(center top , #888888, #575757) repeat scroll 0 0 transparent;
    border: 1px solid #555555;
    color: #E9E9E9;
}
.gray:hover {
    background: -moz-linear-gradient(center top , #757575, #4B4B4B) repeat scroll 0 0 transparent;
}
.gray:active {
    background: -moz-linear-gradient(center top , #575757, #888888) repeat scroll 0 0 transparent;
    color: #AFAFAF;
}
.white {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
    border: 1px solid #B7B7B7;
    color: #606060;
}
.white:hover {
    background: -moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 transparent;
}
.white:active {
    background: -moz-linear-gradient(center top , #EDEDED, #FFFFFF) repeat scroll 0 0 transparent;
    color: #999999;
}
.orange {
    background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
    border: 1px solid #DA7C0C;
    color: #FEF4E9;
}
.orange:hover {
    background: -moz-linear-gradient(center top , #F88E11, #F06015) repeat scroll 0 0 transparent;
}
.orange:active {
    background: -moz-linear-gradient(center top , #F47A20, #FAA51A) repeat scroll 0 0 transparent;
    color: #FCD3A5;
}
.red {
    background: -moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
    border: 1px solid #980C10;
    color: #FADDDE;
}
.red:hover {
    background: -moz-linear-gradient(center top , #C9151B, #A11115) repeat scroll 0 0 transparent;
}
.red:active {
    background: -moz-linear-gradient(center top , #AA1317, #ED1C24) repeat scroll 0 0 transparent;
    color: #DE898C;
}
.blue {
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
    border: 1px solid #0076A3;
    color: #D9EEF7;
}
.blue:hover {
    background: -moz-linear-gradient(center top , #0095CC, #00678E) repeat scroll 0 0 transparent;
}
.blue:active {
    background: -moz-linear-gradient(center top , #0078A5, #00ADEE) repeat scroll 0 0 transparent;
    color: #80BED6;
}
.rosy {
    background: -moz-linear-gradient(center top , #F16C7C, #BF404F) repeat scroll 0 0 transparent;
    border: 1px solid #B73948;
    color: #FAE7E9;
}
.rosy:hover {
    background: -moz-linear-gradient(center top , #CF5D6A, #A53845) repeat scroll 0 0 transparent;
}
.rosy:active {
    background: -moz-linear-gradient(center top , #BF404F, #F16C7C) repeat scroll 0 0 transparent;
    color: #DCA4AB;
}
.green {
    background: -moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
    border: 1px solid #538312;
    color: #E8F0DE;
}
.green:hover {
    background: -moz-linear-gradient(center top , #6B9D28, #436B0C) repeat scroll 0 0 transparent;
}
.green:active {
    background: -moz-linear-gradient(center top , #4E7D0E, #7DB72F) repeat scroll 0 0 transparent;
    color: #A9C08C;
}
.pink {
    background: -moz-linear-gradient(center top , #FEB1D3, #F171AB) repeat scroll 0 0 transparent;
    border: 1px solid #D2729E;
    color: #FEEEF5;
}
.pink:hover {
    background: -moz-linear-gradient(center top , #F4AACB, #E86CA4) repeat scroll 0 0 transparent;
}
.pink:active {
    background: -moz-linear-gradient(center top , #F171AB, #FEB1D3) repeat scroll 0 0 transparent;
    color: #F3C3D9;
}
